.checker {
  @apply w-16 h-16 rounded-full border-8;
  box-shadow: inset 0px 0px 10px 0px #000;
  transform: translate(0, 0);
}

.checker-red {
  @apply bg-red border-red-dark;
}

.checker-blue {
  @apply bg-blue border-blue-dark;
}

.hide {
  transition: 0.01s;
  transform: translateX(-9999px);
}
