.checker {
  @apply w-16 h-16 rounded-full border-8 absolute left-[50%] transform -translate-x-1/2;
  box-shadow: inset 0px 0px 10px 0px #000;
}

.checker-red {
  @apply bg-red border-red-dark;
}

.checker-blue {
  @apply bg-blue border-blue-dark;
}

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  /* transition: 0.01s;
  transform: translateX(-9999px); */
}

.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
